@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mitr:wght@200;300;400;500;600;700&family=Passion+One:wght@400;700;900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: "BodoniXT";
    src: url("/fonts/BodoniXT.ttf") format("truetype");
}

@theme {
    --font-inter: "Inter", "sans-serif";
    --font-mitr: "Mitr", "sans-serif";
    --font-abeezee: "Abeezee", "sans-serif";
    --font-inria-serif: "Inria Serif", "sans-serif";
    --font-passion-one: "Passion One", "sans-serif";
    --font-bodonixt: "BodoniXT", "sans-serif";

    --color-darkblue: #0D1634;
    --color-brown: #66232C;

    --breakpoint-sm: 30rem;
}

html {
  scroll-behavior: smooth;
}

.bg-button-gradient {
  background: linear-gradient(180deg, #FFFFFF -7.84%, #BB3E42 8.85%, #FE8A4F 92.1%, #FFFFFF 109.8%);
}

.default-bg-gradient {
  background: linear-gradient(345.26deg, #000000 10.41%, #0D1634 52.53%, #66232C 101.96%);
}




